body{
    background-color: rgb(77, 76, 76)
}
div{
    width: 100%;
    background-color: red;
    height: 100px;
}
ul{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
}

#red{
    color: red;
    font-size: 60px;
}
#blue{
    color: blue;
    font-size: 16px
}
#green{
    color: green;
    font-size: 16px
}
#yellow{
    color: yellow;
    font-size: 16px
}

@media screen and (max-width:1500px){
    div{
        background-color: blue;
    }
    #red{
        color: red;
        font-size: 16px;
    }
    #blue{
        color: blue;
        font-size: 60px;
    }
    #green{
        color: green;
        font-size: 16px;
    }
    #yellow{
        color: yellow;
        font-size: 16px;
    }
}





